body,html {
	height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'roboto';
	src: url(Fonts/Roboto-Thin.ttf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'roboto medium';
	src: url(Fonts/Roboto-Medium.ttf);
	font-style: normal;
	font-weight: 100;
}

header {
	background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("pexels-photo.jpeg"); 
    background-size: cover;
    height: 100vh;
}

.title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  display: inline-flex;

}

h1 {
	text-transform: uppercase;
 	font-size: 4rem;
 	white-space: nowrap;
	overflow: hidden; 
	border-right: .15em solid white; 
	margin: 0 auto; 
	letter-spacing: .11em; 
	animation: typing 5s steps(30, end), blink-caret .2s step-end infinite alternate;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

/* The navigation bar */
.nav {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 99999;
}

/* Links inside the navbar */
.nav a {
	font-family: bookman;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 18px;
}

/* Change background on mouse-over */
.nav a:hover {
    background-color: #111;
    color: #2E8B57;
}


.helloworld {
	text-align: center;
	font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border:5px solid #663399;
    font-family: garamond;
}

.bio {
	font-family: garamond ;
	color: black;
	font-size: 20px;
	text-align: justify;
	padding-left: 290px;
	padding-right: 290px;
	padding-bottom: 20px;
}

.personalphoto {
	padding-top: 70px;
	text-align: center;
}

h3 {
	font-size: 19px;
	font-family: garamond;
	padding-top: 40px;
	padding-left: 100px;
	padding-bottom: 10px;
}

h4 {
	font-size: 19px;
	font-family: garamond;
	padding-top: 10px;
	padding-left: 100px;
	padding-bottom: 50px;
}

h5 {
	font-size: 19px;
	font-family: garamond;
	padding-top: 10px;
	padding-left: 100px;
	padding-bottom: 50px;
}


.educationcoursework {

	padding-left: 200px;
	padding-bottom: 20px;
}

.educ {
	border-bottom: 1px solid black;
	font-size: 22px;
	padding-bottom: 20px;
	font-family: palatino;

}

.bc {
	padding-left: 200px;
	padding-bottom: 20px;
	font-size: 21px;
	font-style: bold;
	font-family: palatino;
}

.university {
	color: #2E8B57;
	position: relative;
	top: -1820px;
	left: 210px;
	text-decoration: none;
}

.idtech {

text-decoration: none;
position: fixed;
top:0px;
left: 0px;
right:0;
margin-right: auto;
margin-left: auto;
width:50px; – The width of the area you want your icons to appear in
height:300px; – The height of the area you want your icons to appear in
z-index:999999;
}

.github {
	position: relative;
	left: 720px;
	text-decoration: none;
	bottom: 0%;

}

.linkedin {
	position: relative;
	left: 655px;
	text-decoration: none;
	bottom: -8.5%;

}

.icons {
    color: #2E8B57;
}

.resumetest, .resumetest:link, .resumetest:visited {
  text-decoration: none;
  color: #2E8B57;
}

.resume {
	font-family: palatino;
	text-decoration: none;
	font-size: 30px;
	position: relative;
	text-align: center;
	top: -340px;
	text-decoration: none;
	color: #2E8B57;
}

.resumetest {
  position: relative;
}
.resumetest:after {
  content: '';
  position: absolute;
  bottom: -.4em;
  left: 50%;
  right: 50%;
  height: 1px;
  background: currentColor;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}
.resumetest:hover:after {
  left: 0;
  right: 0;
  height: 2px;
}
.link2:before {
  position: absolute;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  left: -10px;
  color: #eee;
  opacity: .3;
  font-weight: 100;
  font-size: .8em;
}

